h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #4E4C67;
    min-width: 100%;
    color: white;
    padding: 10px 0;
    z-index: 1000;
}
.header.fixed {
    position: fixed;
    padding-bottom: 0;
}
.header.placeholder {
}
.content {
    width: 800px;
    margin: 0 auto;
    padding: 0 50px;
}
.title {
    font-size: 32pt;
    line-height: 40pt;
    font-weight: 100;
    padding-bottom: 6px;
}
.subtitle {
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}
#viewer {
    height: 460px;
    position: relative;
}
#viewer canvas {
    width: 100%;
    height: 100%;
}
#banner {
    position: absolute;
    bottom: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12pt;
    color: white;
    font-weight: 300;
    padding: 0.8em;
    display: none;
    pointer-events: none;
}
#main_body {
    padding-top: 1em;
    color: rgba(0, 0, 0, 0.8);
}
#footer {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

a:link {
    color: #54527A;
    text-decoration: none;
}
a:visited, a:active {
    color: #985F6F;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.floater {
    max-width: 40%;
    margin: 10px;
}
.right_float {
    float: right;
}
.left_float {
    float: left;
}
h1 {
    font-size: 16pt;
    font-weight: 200;
    clear: both;
}
h3 {
    font-weight: bold;
    clear: both;
}
.title_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title_left {
    align-self: center;
}
.title_right {
    align-self: center;
}
.github_link {
    padding: 16px;
}