// Rename this file to secrets.h and add your secret details.

// Network setup
#define WIFI_PASSWORD "supersecretpassword"
#define WIFI_SSID "myssid"
#define HOSTNAME "splitflap" // e.g. splitflap.local
#define MQTT_SERVER "10.0.0.2"
#define MQTT_USER "mqttuser"
#define MQTT_COMMAND_TOPIC "splitflap"
#define MQTT_PASSWORD "megasecretpassword"
