// Rename this file to secrets.h and add your secret details.

// Network setup
#define WIFI_SSID "myssid"
#define WIFI_PASSWORD "supersecretpassword"

// Hostname for this device, which is also used for MDNS, e.g. "splitflap" will result
// in an mdns name of "splitflap.local"
// If you plan to use OTA uploads, make sure to update the "upload_port" in the "env:chainlink_ota"
// section of platformio.ini to match.
#define DEVICE_INSTANCE_NAME "splitflap"

#define MQTT_SERVER "192.168.0.242"
#define MQTT_PORT (1883)
#define MQTT_USER "mqttuser"
#define MQTT_PASSWORD "megasecretpassword"

// Password for wireless firmware uploads (only works with MQTT=1 in build_flags!).
// To use OTA functionality:
//   Setup:
//     1. Change this value to something unique in your secrets.h file
//     2. Upload the firmware via USB using the "chainlink" env in platformio - this must be
//        done via USB first to install the initial firmware, including this password for
//        future wifi uploads.
//     3. If you've changed the DEVICE_INSTANCE_NAME, make sure to update the "upload_port" in
//        the "env:chainlink_ota" section of platformio.ini to match, so the OTA uploads know
//        who to talk to.
//   OTA updates:
//     1. Make sure the ESP32 is online
//     2. Upload the firmware using the "chainlink_ota" environment instead of the "chainlink"
//        environment
#define OTA_PASSWORD "replace_me!"