// Rename this file to secrets.h and add your secret details.
#pragma once

// Network setup
#define WIFI_SSID "<YOUR SSID HERE>"
#define WIFI_PASSWORD "<YOUR PASSWORD HERE>"

const char* project_id = "<YOUR GCP PROJECT ID HERE>";

const char* service_key_id = "<SERVICE ACCOUNT KEY ID (hex string)>";
const char* service_email = "<SERVICE ACCOUNT ID>@<PROJECT ID>.iam.gserviceaccount.com";

// Generate using `xxd -i`, then ADD 0x00 to the end and increase _len by 1!
unsigned char service_private_key[] = {};
unsigned int service_private_key_len = 0;
