name: Export Electronics

on:
  push:
  pull_request:

jobs:
  export-electronics:
    name: Export Electronics
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up outputs directory
        run: mkdir -p electronics/build/outputs

      - uses: INTI-CMNB/KiBot@7409c994769074d67fef94641259e03c94aaae25
        with:
          config: electronics/chainlinkBase/chainlinkBase.kibot.yml
          dir: electronics/build
          schema: 'electronics/chainlinkBase/chainlinkBase.sch'
          board: 'electronics/chainlinkBase/chainlinkBase.kicad_pcb'

      - name: Install dependencies
        run: ./electronics/scripts/dependencies.sh

      - name: Export schematic
        run: |
          ./electronics/scripts/export_schematic.py electronics/chainlinkDriver/chainlinkDriver.sch
          cp electronics/build/chainlinkDriver.pdf electronics/build/outputs/chainlinkDriver-schematic.pdf
          cp electronics/build/chainlinkDriver.png electronics/build/outputs/chainlinkDriver-schematic.png
        env:
          PYTHONUNBUFFERED: 1

      - name: Render PCB 3D
        run: |
          ./electronics/scripts/export_3d.py electronics/chainlinkDriver/chainlinkDriver.kicad_pcb --width 2000 --height 800 transform z+ z+ z+ z+ z+ z+ z+ z+ mr rx+ rx+ ry- ry- rz-
          cp electronics/build/chainlinkDriver-3d.png electronics/build/outputs/chainlinkDriver-3d.png
          ./scripts/annotate_image.sh electronics/build/outputs/chainlinkDriver-3d.png
        env:
          PYTHONUNBUFFERED: 1

      - name: Export JLCPCB fabrication files
        run: |
          ./electronics/scripts/export_jlcpcb.py electronics/chainlinkDriver/chainlinkDriver.kicad_pcb --assembly-schematic electronics/chainlinkDriver/chainlinkDriver.sch
          cp -r electronics/build/chainlinkDriver-jlc electronics/build/outputs

      - name: Export PCB overview PDF
        run: |
          ./electronics/scripts/generate_pdf.py electronics/chainlinkDriver/chainlinkDriver.kicad_pcb
          cp electronics/build/chainlinkDriver-pcb-packet.pdf electronics/build/outputs/chainlinkDriver-pcb-packet.pdf
        env:
          PYTHONUNBUFFERED: 1

      - name: Export PCB SVG
        run: |
          ./electronics/scripts/generate_svg.py electronics/chainlinkDriver/chainlinkDriver.kicad_pcb
          cp electronics/build/chainlinkDriver_merged.png electronics/build/outputs/chainlinkDriver-pcb-raster.png
          ./scripts/annotate_image.sh electronics/build/outputs/chainlinkDriver-pcb-raster.png
        env:
          PYTHONUNBUFFERED: 1

      # TODO: avoid duplication
      - name: Export schematic [chainlinkDriverTester]
        run: |
          ./electronics/scripts/export_schematic.py electronics/chainlinkDriverTester/chainlinkDriverTester.sch
          cp electronics/build/chainlinkDriverTester.pdf electronics/build/outputs/chainlinkDriverTester-schematic.pdf
          cp electronics/build/chainlinkDriverTester.png electronics/build/outputs/chainlinkDriverTester-schematic.png
        env:
          PYTHONUNBUFFERED: 1

      - name: Render PCB 3D [chainlinkDriverTester]
        run: |
          ./electronics/scripts/export_3d.py electronics/chainlinkDriverTester/chainlinkDriverTester.kicad_pcb --width 1600 --height 1100 transform z+ z+ z+ z+ z+ mu mr mr rx+ rx+ ry- ry- rz-
          cp electronics/build/chainlinkDriverTester-3d.png electronics/build/outputs/chainlinkDriverTester-3d.png
          ./scripts/annotate_image.sh electronics/build/outputs/chainlinkDriverTester-3d.png
        env:
          PYTHONUNBUFFERED: 1

      - name: Export JLCPCB fabrication files [chainlinkDriverTester]
        run: |
          ./electronics/scripts/export_jlcpcb.py electronics/chainlinkDriverTester/chainlinkDriverTester.kicad_pcb
          cp -r electronics/build/chainlinkDriverTester-jlc electronics/build/outputs

      - name: Export PCB overview PDF [chainlinkDriverTester]
        run: |
          ./electronics/scripts/generate_pdf.py electronics/chainlinkDriverTester/chainlinkDriverTester.kicad_pcb
          cp electronics/build/chainlinkDriverTester-pcb-packet.pdf electronics/build/outputs/chainlinkDriverTester-pcb-packet.pdf
        env:
          PYTHONUNBUFFERED: 1

      - name: Export PCB SVG [chainlinkDriverTester]
        run: |
          ./electronics/scripts/generate_svg.py electronics/chainlinkDriverTester/chainlinkDriverTester.kicad_pcb
          cp electronics/build/chainlinkDriverTester_merged.png electronics/build/outputs/chainlinkDriverTester-pcb-raster.png
          ./scripts/annotate_image.sh electronics/build/outputs/chainlinkDriverTester-pcb-raster.png
        env:
          PYTHONUNBUFFERED: 1


      # TODO: avoid duplication
      - name: Export schematic [chainlinkBase]
        run: |
          ./electronics/scripts/export_schematic.py electronics/chainlinkBase/chainlinkBase.sch
          cp electronics/build/chainlinkBase.pdf electronics/build/outputs/chainlinkBase-schematic.pdf
          cp electronics/build/chainlinkBase-0.png electronics/build/outputs/chainlinkBase-schematic.png
        env:
          PYTHONUNBUFFERED: 1

      - name: Render PCB 3D [chainlinkBase]
        run: |
          ./electronics/scripts/export_3d.py electronics/chainlinkBase/chainlinkBase.kicad_pcb --width 1000 --height 1500 transform z+ z+ mu rx+ rx+ ry- ry- rz-
          cp electronics/build/chainlinkBase-3d.png electronics/build/outputs/chainlinkBase-3d.png
          ./scripts/annotate_image.sh electronics/build/outputs/chainlinkBase-3d.png
        env:
          PYTHONUNBUFFERED: 1

      - name: Export JLCPCB fabrication files [chainlinkBase]
        run: |
          ./electronics/scripts/export_jlcpcb.py electronics/chainlinkBase/chainlinkBase.kicad_pcb
          cp -r electronics/build/chainlinkBase-jlc electronics/build/outputs

      - name: Export PCB overview PDF [chainlinkBase]
        run: |
          ./electronics/scripts/generate_pdf.py electronics/chainlinkBase/chainlinkBase.kicad_pcb
          cp electronics/build/chainlinkBase-pcb-packet.pdf electronics/build/outputs/chainlinkBase-pcb-packet.pdf
        env:
          PYTHONUNBUFFERED: 1

      - name: Export PCB SVG [chainlinkBase]
        run: |
          ./electronics/scripts/generate_svg.py electronics/chainlinkBase/chainlinkBase.kicad_pcb
          cp electronics/build/chainlinkBase_merged.png electronics/build/outputs/chainlinkBase-pcb-raster.png
          ./scripts/annotate_image.sh electronics/build/outputs/chainlinkBase-pcb-raster.png
        env:
          PYTHONUNBUFFERED: 1


      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: electronics
          path: |
            electronics/build

      - name: Configure AWS Credentials
        if: github.event_name == 'push' && github.repository_owner == 'scottbez1'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync artifacts to S3
        if: github.event_name == 'push' && github.repository_owner == 'scottbez1'
        run: |
          aws s3 sync electronics/build/outputs s3://splitflap-artifacts/${GITHUB_REF#refs/heads/}/electronics --delete --acl public-read --cache-control max-age=0,no-cache
